body {
  background-color: lightgoldenrodyellow;
}
h1 {
  font-size: 30px;
  color: salmon;
}

h2 {
  color: red;
}

h3 {
  font-size: 40px;
  color: teal;
}

.big {
  font-size: 100px;
}

.uppercase {
  text-transform: uppercase;
}
.big.uppercase {
  color: navy;
}
h1 span {
  color: violet;
}
